[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.idea*
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates